{% extends 'new_base.html' %}

{% load static %}

{% block title %} Ambient Intelligence Lab  {% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
          <div class="row" id="live_content_row">
 
           
          </div>
        
        </div>         
    </div>
    
<script>
  
    $(document).ready(function(){

        get_live_data();

        function createRow(context){
        
          var row_maintain = ""
          for(var i=1 ; i < context.length ; i++ ){
                col_start = ` <div class="col-sm-4" > `
                title = `<center><h4 class="text-info">${context[i].ServiceName}</h4></center> `
                col_start  = col_start + title;

                for(var j = 0 ; j< 5;j++){
                    const markup = `
                                            
                        <div class="card mb-3">
                            <img src="${ context[i].articles[j].urlToImage}" class="card-img-top" alt="news img">
                            <div class="card-body">
                            <h5 class="card-title">
                                <a href="${ context[i].articles[j].url}" target="_blank" >${ context[i].articles[j].title}</a>
                            </h5>
                            <p class="card-text">${ context[i].articles[j].description}}</p>
                            <p class="card-text"><small class="text-muted">${ context[i].articles[j].publishedAt}</small></p>
                            </div>
                        </div>

                    `
                    col_start = col_start + markup

                }

                col_start = col_start+"</div>"

                row_maintain = row_maintain + col_start;

                
          }
          

          document.getElementById("live_content_row").innerHTML = row_maintain

         

        }

        function get_live_data(){
            $.ajax({
                type: 'GET',
                url: "/ajax_live_data/",
                
                success: function (response) {
                    // if not valid user, alert the user
                    if(response.valid){
                        console.log(response.context)
                        //alert("You cannot create a friend with same nick name");
                        createRow(response.context)
                        
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            }) 
        }
        
        setInterval(function(){ 
            get_live_data();
        }, 10000);
   

    }) 

</script> 

{% endblock content %}

